[server]
fqdn = {{FQDN}}
pki_key_name = {{PKI_KEY_NAME}}
pki_key_path = /etc/fms-le-dns/pki/certbot.key
lineage = /etc/letsencrypt/live/{{LINEAGE_NAME}}
service_name = fmshelper

[timeouts]
request = 30
state = 300
verify = 300
poll = 5
grace = 60
service = 180

[logging]
path = /var/log/fms-le-dns.log
